<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello Backbone</title>
  </head>
   <body>
    
   
   <div id="search_container">a</div>
	<script type="text/template" id="plantilla-vistapersonaje2">
    <ul>
        <li> <a href="<%= url %>"> <%= nombre %> </a></li>
    </ul>
</script>
   <!-- ---------------------- -->
   
	<!-- Librerías necesarias para hacer funcionar backbone -->
    <script type="text/javascript" src="jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script type="text/javascript" src="backbone-min.js"></script>
	<!-- -------------------------------------------------- -->
	
	<!-- Libería dónde añadiré las funciones que use para el backbone -->
    <script type="text/javascript" src="hello.js"></script>
	<!-- ------------------------------------------------------------ -->
    </body>
</html>
